<div class="container" ng-controller="homecontrol">
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox" >    
         <div class="carousel-item " ng-class="{active:!$index}" ng-repeat="b in banner">
            <a href="#">
            <img class="d-block img-fluid" ng-src="{{b.image.desktop}}" >
            </a>
         </div>
      </div>
      <a class="carousel-control-prev" data-toggle="scrollspy" data-target="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" data-toggle="scrollspy" data-target="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
      </a>
   </div>
   <div class="row">
      <div class="col-12 col-sm-4 col-md-4">
         <div class="hovereffect">
            <div class="item">
               <a  href="#!/productdetail">
                  <img class="img-fluid"  src="Make-Up-Artist.jpg" alt="img-responsive">
                  <div class="overlay">
                     <p class="info">MAKE UP</p>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="col-12 col-sm-4 col-md-4">
         <div class="hovereffect">
            <div class="item">
               <a href="#!/productdetail">
                  <img class="img-fluid"  src="Skin-Care.jpg" alt="img-responsive">
                  <div class="overlay">
                     <p class="info">SKIN CARE</p>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="col-12 col-sm-4 col-md-4">
         <div class="hovereffect">
            <div class="item">
               <a  href="#!/productdetail">
                  <img class="img-fluid" src="Beauty-Salons-in-Motor-City.jpg" alt="img-responsive">
                  <div class="overlay">
                     <p class="info">HAIR CARE</p>
                  </div>
               </a>
            </div>
         </div>
      </div>
   </div>
   <h3 class="text-center">BEST SELLER</h3>
   <hr>
   <p>
   <div class="col-md-4">
      <div class="input-group">
         <span class="input-group-addon">Featured</span>
         <select  ng-model="$ctrl.orderProp" class="form-control">
            <option value="price.selling">Price :Low to High</option>
            <option value="-price.selling">Price :High to Low</option>
            <option value="name">A-Z</option>
            <option value="-name">Z-A</option>
            <option value="-price.discount_text">Discount Rate:High to Low</option>
            <option value="price.discount_text">Discount Rate:Low to High</option>
         </select>
      </div>
   </div>
   </p>
   <div class="row">
      <div class="col-1-4">
         <div class="show show-first">
            <div ng-repeat="p in product | orderBy:$ctrl.orderProp" >
               <a href="#!/productdetail">
                  <img class="img-fluid" 
                     ng-src="{{ p.image.small }}"/>
                  <div class="name">
                     &nbsp;
                     <p><strong>{{p.display_name}}</strong><br>
                        <span><strong>{{p.price.discount_text}}</strong></span>
                        <strong>{{p.currency.symbol}}{{p.price.selling}}</strong>
                        <br><strike>{{p.currency.symbol}}{{p.price.retail}}</strike>
                     </p>
                  </div>
               </a>
               <div class="mask">
                  <a href="#!/productdetail" class="more">Purchase now</a>
               </div>
            </div>
         </div>
      </div>
      &nbsp;
   </div>
</div>