.logo>img {
	width: 450px;
	height: 120px;
	padding-top: 40px;
}

.justify-content-end>li>a {
	color: black;
	font-family: verdana;
	font-size: 15px;
	margin-top: 30px;
}

.justify-content-end>li>a:hover {
	color: #9900CC;
}

.hidden-md-down>.justify-content-md-center>nav>.navbar-collapse>.navbar-nav>.dropdown>.dropdown-menu>.dropdown-item {
	padding-bottom: 20px;
}

.hidden-md-down>.justify-content-md-center>nav>#navbarNavDropdown>ul>li>a {
	padding-left: 40px;
	padding-right: 40px;
	font-family: verdana;
	font-size: 15px;
}

.hidden-md-down>.justify-content-md-center>nav {
	background: transparent;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: #D9D9D9;
}

.dropdown-menu a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #F0D9FF;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	opacity: 0.8;
}

.sidenav a {
	padding-bottom: 20px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	color: #000;
	display: block;
}

.sidenav a:hover, .offcanvas a:focus {
	color: #8C408C;
	text-decoration: none;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

.hidden-lg-up>span {
	font-size: 50px;
	color: #330033;
	font-family: verdana;
}

.slide> .carousel-inner>.carousel-item>a>img {
	width: 1500px;
	padding-top: 50px;
	margin: auto;
	padding-bottom: 30px;
}

.row>.col-12>.hovereffect>.item>a>.img-fluid {
	width: 400px;
	height: 300px;
}

.hovereffect {
	position: relative;
	text-align: center;
}

.hovereffect .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
	background-color: #999999;
	opacity: 0.7;
}

.hovereffect p.info {
	display: inline-block;
	color: #ffffff;
	border: 4px solid #fff;
	filter: alpha(opacity=0);
	transform: scale(0);
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	margin-top: 120px;
}

.hovereffect:hover p.info {
	opacity: 1;
	font-size: 28px;
	font-family: verdana;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
}

h3 {
	text-align: center;
	font-family: verdana;
	padding-top: 30px;
}

.row>.col-1-4>.show-first>div {
	float: left;
	height: 250px;
	width: 250px;
	margin-bottom: 150px;
	margin-left: 100px;
	text-align: center;

}

.show-first>div>.mask> a.more {
	display: inline-block;
	padding: 7px 12px;
	background: #FFF;
	color: #000;
	text-transform: uppercase;
	position: relative;
	border: solid 1px #000;
	border-radius: 10px;
	font-family: verdana;
}

.show-first>div> .mask {
	opacity: 0;
	transition: all 0.4s ease-in-out;
}

.show-first:hover>div>.mask {
	opacity: 1;
}

.show-first {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
}

span {
	color: #CC0000;
}

.col-1-4>.show-first>div>a>.name {
	color: #000;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
}

.col-1-4>.show-first>div>a:hover>.name {
	color: #A30070;
	text-align: center;

}

footer>.container>.row {
	
	background-color: #191919;

}
footer>.container>.row>div>a{
color: #fff;
	text-decoration: none;
	
}
footer>.container>.row>div>h6{

	color: #fff;
}