<div class="container"  ng-controller="productctrl" > 
   <div class="row"> 
      <div class="col-md-auto" > 
         <img class="img-fluid" ng-src="{{ detail.image.large }}"> 
         <div class="pdetails"> 
            <h5><strong>{{detail.display_name}}</strong></h5> 
            <br> 
            <h6> 
               <div class="text-muted"><strong>{{detail.brand.name}}</strong></div> 
            </h6> 
            <br> 
            <h5><strong>Price: {{detail.currency.symbol}}{{detail.price.selling}}</strong></h5> 
            <br> 
            <h5>Retail Price: <strike>{{detail.currency.symbol}}{{detail.price.retail}}</strike></h5> 
            <div class="text-muted"><small>You saved {{detail.currency.symbol}}{{detail.price.saving}}</small></div> 
            <div class="mask"> 
               <a href="#" class="more">Purchase now</a> 
            </div> 
         </div> 
      </div> 
      <div class="col-1-4"> 
         <ul class="nav nav-tabs"> 
            - 
            <li class="nav-item"> 
               <a class="nav-link active" data-target="#description" data-toggle="tab" >Description</a> 
            </li> 
            <li class="nav-item"> 
               <a class="nav-link" data-target="#specification" data-toggle="tab" >Specification</a> 
            </li> 
            <li class="nav-item"> 
               <a class="nav-link" data-target="#review" data-toggle="tab"">Review</a> 
            </li> 
         </ul> 
         <div class="tab-content"> 
            <div id="description" class="tab-pane in active"> 
               <div ng-bind-html="trustedHtml1"> 
                  {{detail.description}} 
               </div> 
               <div ng-bind-html="trustedHtml2"> 
                  {{detail.usage}} 
               </div> 
               <div ng-bind-html="trustedHtml3"> 
                  {{detail.photos}} 
               </div> 
            </div> 
            <div id="specification" class="tab-pane fade"> 
               <ul ng-repeat="d in detail.specification"> 
                  <li><strong>{{d.title}}</strong></li> 
                  <li>{{d.value}}</li> 
               </ul> 
            </div> 
            <div id="review" class="tab-pane fade"> 
               <img class="img-fluid" src="productdetails/default-user-image.png"> 
               <div class="stars"> 
                  <fieldset class="rating"> 
                     <input type="radio" id="star5" name="rating" value="5" /> 
                     <label class = "full" for="star5" title="Awesome - 5 stars"></label> 
                     <input type="radio" id="star4half" name="rating" value="4 and a half" /> 
                     <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label> 
                     <input type="radio" id="star4" name="rating" value="4" /> 
                     <label class = "full" for="star4" title="Pretty good - 4 stars"></label> 
                     <input type="radio" id="star3half" name="rating" value="3 and a half" /> 
                     <label class="half" for="star3half" title="Meh - 3.5 stars"></label> 
                     <input type="radio" id="star3" name="rating" value="3" /> 
                     <label class = "full" for="star3" title="Meh - 3 stars"></label> 
                     <input type="radio" id="star2half" name="rating" value="2 and a half" /> 
                     <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label> 
                     <input type="radio" id="star2" name="rating" value="2" /> 
                     <label class = "full" for="star2" title="Kinda bad - 2 stars"></label> 
                     <input type="radio" id="star1half" name="rating" value="1 and a half" /> 
                     <label class="half" for="star1half" title="Meh - 1.5 stars"></label> 
                     <input type="radio" id="star1" name="rating" value="1" /> 
                     <label class = "full" for="star1" title="Sucks big time - 1 star"></label> 
                     <input type="radio" id="starhalf" name="rating" value="half" /> 
                     <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label> 
                  </fieldset> 
               </div> 
               <p class="text-muted">Make my face more brightness and white, 1st time to use it.</p> 
            </div> 
         </div> 
      </div> 
   </div> 
   <div class="col-md-auto" > 
      <h5>Recently view</h5> 
      <hr> 
      <div class="recently"> 
         <a href=""> 
            <img class="img-fluid" ng-src="{{detail1.image.small}}"> 
            <p>{{detail1.display_name}}</p> 
         </a> 
         <a href=""> 
            <img class="img-fluid" ng-src="{{detail2.image.small}}"> 
            <p>{{detail2.display_name}}</p> 
         </a> 
         <a href=""> 
            <img class="img-fluid" ng-src="{{detail3.image.small}}"> 
            <p>{{detail3.display_name}}</p> 
         </a> 
         <a href=""> 
            <img class="img-fluid" ng-src="{{detail4.image.small}}"> 
            <p>{{detail4.display_name}}</p> 
         </a> 
      </div> 
   </div> 
</div>