.logo>img { 
  width: 450px; 
  height: 120px; 
  padding-top: 40px; 
} 
 
.justify-content-end>li>a { 
  color: black; 
  font-family: verdana; 
  font-size: 15px; 
  margin-top: 30px; 
} 
 
.justify-content-end>li>a:hover { 
  color: #9900CC; 
} 
 
.hidden-md-down>.justify-content-md-center>nav>.navbar-collapse>.navbar-nav>.dropdown>.dropdown-menu>.dropdown-item { 
  padding-bottom: 20px; 
} 
 
.hidden-md-down>.justify-content-md-center>nav>#navbarNavDropdown>ul>li>a { 
  padding-left: 40px; 
  padding-right: 40px; 
  font-family: verdana; 
  font-size: 15px; 
} 
 
.hidden-md-down>.justify-content-md-center>nav { 
  background: transparent; 
  border-style: solid; 
  border-width: 1px; 
  border-radius: 10px; 
  border-color: #D9D9D9; 
} 
 
.dropdown-menu a:hover { 
  background-color: #f1f1f1 
} 
 
.dropdown:hover .dropdown-menu { 
  display: block; 
} 
 
.sidenav { 
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0; 
  background-color: #F0D9FF; 
  overflow-x: hidden; 
  transition: 0.5s; 
  padding-top: 60px; 
  opacity: 0.8; 
} 
 
.sidenav a { 
  padding-bottom: 20px; 
  text-align: center; 
  text-decoration: none; 
  font-size: 20px; 
  color: #000; 
  display: block; 
} 
 
.sidenav a:hover, .offcanvas a:focus { 
  color: #8C408C; 
  text-decoration: none; 
} 
 
.sidenav .closebtn { 
  position: absolute; 
  top: 0; 
  right: 25px; 
  font-size: 36px; 
  margin-left: 50px; 
} 
 
@media screen and (max-height: 450px) { 
  .sidenav { 
    padding-top: 15px; 
  } 
  .sidenav a { 
    font-size: 18px; 
  } 
} 
 
.hidden-lg-up>span { 
  font-size: 50px; 
  color: #330033; 
  font-family: verdana; 
} 
 
.row>.col-md-auto>img { 
  margin-top: 100px; 
  margin-right: 50px; 
} 
 
.pdetails { 
  margin-top: 150px; 
  float: right; 
  font-family: verdana; 
} 
 
.row>.col-1-4>ul>li { 
  padding-top: 150px; 
  padding-left: 20px; 
  padding-right: 20px; 
} 
 
.row>.col-1-4>ul>li>a { 
  color: #8C408C; 
  font-family: verdana; 
  font-size: 18px; 
} 
 
footer { 
  padding-top: 40px; 
  padding-left: 150px; 
  background-color: #191919; 
  margin-top: 100px; 
} 
footer>.container-fluid>.row>div>a{ 
color:#fff; 
  text-decoration: none; 
   
} 
 
footer>.container-fluid>.row>div>h6{ 
color:#fff; 
 
} 
.col-md-auto>.pdetails>.mask> a.more { 
  display: inline-block; 
  padding: 7px 12px; 
  background: #FFF; 
  color: #000; 
  text-transform: uppercase; 
  position: relative; 
  border: solid 1px #000; 
  border-radius: 11px; 
  font-family: verdana; 
  margin-top: 70px; 
  text-decoration: none; 
} 
 
.col-md-auto>.pdetails>.mask>a.more:hover { 
  color: #8C408C; 
} 
 
.col-1-4>.tab-content>#specification>ul>li { 
  list-style-type: none; 
  font-family: verdana; 
  font-size: 15px; 
  padding-top: 15px; 
  margin-top: 20px; 
} 
 
.col-1-4>.tab-content>#specification { 
  width: 1000px; 
} 
 
.col-1-4>.tab-content>#review>img { 
  margin-top: 50px; 
  margin-left: 10px; 
  width: 100px; 
  height: 100px; 
} 
 
.col-1-4>.tab-content>#review { 
  width: 1000px; 
} 
 
.col-1-4>.tab-content>#review>p { 
  font-family: verdana; 
  margin-top: 30px; 
} 
 
.rating { 
  border: none; 
  float: left; 
  margin-right: 70px; 
  margin-top: 30px; 
} 
 
.rating> input { 
  display: none; 
} 
 
.rating> label:before { 
  margin: 4px; 
  font-size: 1.25em; 
  font-family: FontAwesome; 
  display: inline-block; 
  content: "\f005"; 
} 
 
.rating> .half:before { 
  content: "\f089"; 
  position: absolute; 
} 
 
.rating> label { 
  color: #ddd; 
  float: right; 
} 
 
.rating> input:checked~ label, .rating:not(:checked)> label:hover, .rating:not(:checked)> label:hover~ label { 
  color: #FFD700; 
} 
 
.rating> input:checked+ label:hover, .rating> input:checked~ label:hover, .rating> label:hover~ input:checked~ label, .rating> input:checked~ label:hover~ label { 
  color: #FFED85; 
} 
 
.col-md-auto>.recently { 
  padding-right: 50px; 
  margin-top: 70px; 
  text-align: center; 
  column-count: 4; 
 
} 
 
.col-md-auto>.recently>a { 
  color: #000; 
  font-family: verdana; 
} 
 
.col-md-auto>.recently>a:hover { 
  text-decoration: none; 
  color: #8C408C; 
} 
 
.col-md-auto>h5 { 
  margin-top: 200px; 
  text-align: center; 
  font-family: verdana; 
}